* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Medium, PoppinsBold, PoppinsBlack;
}

@font-face {
    font-family: Black1;
    src: url("/myproject/font/Poppins-Black.ttf");
    font-family: BlackItalic;
    src: url("/myproject/font/Poppins-BlackItalic.ttf");
    font-family: PoppinsBold;
    src: url("/myproject/font/Poppins-Bold.ttf");
    font-family: BoldItalic;
    src: url("/myproject/font/Poppins-BoldItalic.ttf");
    font-family: Poppins-Medium;
    src: url("/myproject/font/Poppins-Medium.ttf");
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Grey500: hsl(234, 12%, 34%);
    --Grey400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
    --Fontsize1: 15px;
    --Weights1: 200;
    --Weights2: 400;
    --Weights3: 600;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 4rem;
}
.topic {
    color: var(--Grey400);
    font-weight: lighter;
    font-size: 2rem;
}

.top2 {
    color: var(--Grey500);
}

.explain {
    color: var(--Grey400);
    font-size: var(--Fontsize1);
    text-align: center;
    width: 34rem;
    font-weight: lighter;
}
.card1{
width: 25rem;
border: 4px solid;
border-radius: 4px;
border-right: none;
border-left: none;
border-bottom: none;
height: 15rem;
padding: 1rem;
margin: 1rem;
box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.211);
border-color: var(--Cyan);
}
.card2{
width: 25rem;
border: 4px solid;
border-radius: 4px;
border-right: none;
border-left: none;
border-bottom: none;
height: 15rem;
padding: 1rem;
margin: 1rem;
box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.211);
border-color: var(--Red);
}
.card3{
width: 25rem;
border: 4px solid;
border-radius: 4px;
border-right: none;
border-left: none;
border-bottom: none;
height: 15rem;
padding: 1rem;
margin: 1rem;
box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.211);
border-color: var(--Orange);
}
.card4{
width: 25rem;
border: 4px solid;
border-radius: 4px;
border-right: none;
border-left: none;
border-bottom: none;
height: 15rem;
padding: 1rem;
margin: 1rem;
box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.211);
display: flex;
flex-direction: column;
border-color: var(--Blue);
}
.title{
width: 15rem;
}
.nameTag{
color: var(--Grey500);
}
.explainTag{
color: var(--Grey400);
font-size: 10px;
}
.icon{
float: right;
width: 3rem;
margin-top: 5rem;
margin-right: 1rem;
}
@media (width<1026px) {
    .card1,.card2,.card3,.card4{
        margin: 0.5rem;
        width: 20rem;
    }

}
@media (width<780px) {
    section{
        flex-direction: column;
    }
        .card1,.card2,.card3,.card4{
        margin: 1rem;
        width: 22rem;
        margin-left: 1rem;
    }
}
@media (width<427px) {
    main{
        width: 25rem;
    }
    section{
        flex-direction:column;
        margin-top: 2rem;
    }
    .topic{
font-size: 20px;
    }
    .top2{
font-size: 20px;
    }
    .explain{
font-size: 10px;
width: 20rem;
    }
}